@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

body {
  overflow-x: hidden;
}

.navbar {
  background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  /* Set the text color of the links */
}

.akc-footer {
  background-image: url(../images/home-page/contact.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 610px;
}

.akc-footer-bg {
  background-color: #ffffff69;
}

.akc-custom-hader {
  font-family: "Titan One", sans-serif;
  font-size: 46px;
}

.akc-custom-subtitle {
  font-family: "Titan One", sans-serif;
  font-size: 19px;
}

.akc-main {
  background-image: url(../images/home-page/main-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 850px;
}

.akc-holi {
  background-image: url(../images/home-page/group.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 850px;
  margin-top: -141px;
}

.akc-color {
  background-color: #44c8f5;
}

.custom-text-color {
  color: #0e485b;
}

.custom-link {
  text-decoration: none;
}

.galary-color {
  font-size: 24px;
  color: #ed1e79 !important;
}

.akc-client-section {
  background-color: #e1e1e1 !important;
}

.akc-border-custom {
  border-bottom: 1px solid #ed1e79;
}

.footer-custom {
  background-color: #b2d235;
}

.custom-button {
  width: 120px;
  background-color: #ed1e79 !important;
  color: white !important;
}

/* timer  */

#timer {
  font-size: 3em;
  font-weight: 100;
  color: white;
  text-shadow: 0 0 20px #b13070;

  div {
    display: inline-block;
    min-width: 90px;

    span {
      color: #ffffff;
      display: block;
      font-size: 0.35em;
      font-weight: 400;
    }
  }
}

.akc-timer {
  background-image: linear-gradient(#69257b, #d6207c);
}
.akc-gallery {
  background-image: url(../images/home-page/galary.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 450px;
  margin-top: -105px;
}

.custom-gtext {
  font-size: 60px;
  color: #1d28b2;
}

.gnew-text{
  font-size: 35px;
}
.akc-custom-divider{
  border-bottom: 2px solid #ed1e79;
}
.btn-custom{
  background-color: #ed1e79 !important;
  color: white !important;
}
.btn-custom2{
  background-color: #ed1e1e !important;
  color: white !important;
}
.ml{
  margin-left: 25px;
}