@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

.navbar {
    background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    /* Set the text color of the links */
}

.akc-footer {
    background-image: url(../images/home-page/contact.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 610px;
}

.akc-footer-bg {
    background-color: #ffffff69;
}

.akc-custom-hader {
    font-family: "Titan One", sans-serif;
    font-size: 46px;
}

.akc-custom-subtitle {
    font-family: "Titan One", sans-serif;
    font-size: 19px;
}

.akc-main {
    background-image: url(../images/home-page/main-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 850px;
}

.akc-holi {
    background-image: url(../images/home-page/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 850px;
}
.akc-color{
    background-color: #44C8F5 ;
}
.custom-text-color{
    color: #0E485B;
}
.custom-link{
    text-decoration: none;
}
.galary-color{
    font-size: 24px;
    color: #ED1E79 !important;
}
.akc-client-section{
    background-color: #E1E1E1 !important;
}
.akc-border-custom{
    border-bottom: 1px solid #ED1E79;
}
.footer-custom{
    background-color: #B2D235;
}
.custom-button{
    width: 120px;
    background-color: #ED1E79 !important;
    color: white !important;
}