
.navbar {
    background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff; /* Set the text color of the links */
}

.akc-footer{
    background-image: url(../imges/home-page/contact.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 610px;
}